{% extends "base.html" %}

{% block content %}
<form method="POST" style="margin-top: 4.5rem;">
  <h2>Редактирование пользователя</h2>
  <input type="hidden" id="id-input" name="id" value="{{user.id}}">
  <div class="form-group">
    <label for="exampleInputEmail1">Логин</label>
    <input type="text" class="form-control" id="username-input" name="username" placeholder="vasyapupkin3000" value="{{user.username}}">
  </div>
  <div class="form-group mt-2">
    <label for="password-input">Пароль</label>
    <input type="password" class="form-control" id="password-input" name="password">
  </div>
  <button type="submit" class="btn btn-success mt-2">Изменить</button>
</form>
{% endblock %}