<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/css/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">FC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if current == 'index' %} active {% endif %}" href="/">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if current == 'events' %} active {% endif %}"
                                href="/events">События</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if current == 'clients' %} active {% endif %}"
                                href="/clients">Клиенты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if current == 'users' %} active {% endif %}"
                                href="/users">Пользователи</a>
                        </li>
                    </ul>
                    
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            
                            {% if current_user.is_authenticated %}
                            <a class="nav-link" href="/logout">Здравствуйте, {{ current_user.username }}</a>
                            {% else %}
                            <a class="nav-link {% if current == 'login' %} active {% endif %}" href="/login">Вход</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid overflow-auto">
        {% block content %}{% endblock %} 
    </div>


</body>

</html>