{% extends "base.html" %}
{% block title %}Клиенты{% endblock %}
{% block content %}
<section style="margin-top: 4.5rem;">
    <h2>Клиенты системы</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Фото</th>
                <th>Имя</th>
                <th>Дата начала абонемента</th>
                <th>Дата окончания абонемента</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>
                    <img src="/client/photo/{{ client.id }}" style="width: 200px; height: 200px; object-fit: cover;">
                </td>
                <td>{{ client.name }}</td>
                <td>{{ client.start_date }}</td>
                <td>{{ client.end_date}}</td>
                <td>
                    <a class="btn btn-outline-primary" href="/client/photo-edit/{{client.id}}">Изменить фото</a>
                    <a class="btn btn-outline-warning" href="/client/edit/{{client.id}}">Изменить</a>
                    <a class="btn btn-outline-danger" href="/client/del/{{client.id}}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="/client/add">Добавить</a>
</section>
{% endblock %}