{% extends "base.html" %}
{% block title %}События{% endblock %}
{% block content %}
<section style="margin-top: 4.5rem;">
    <h2>События системы</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}