{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100 pt-5">
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column" style="max-width: 400px;">
                <img class="img-fluid" src="/static/imgs/icon.png">
                <h2 class="text-center mt-2">Fitness club</h2>
                <h4 class="text-center mt-2">Морозов С.</h4>
                <h4 class="text-center mt-2">Игошева П.</h4>
                <p class="text-center"></p>
            </div>
        </div>
    </div>
{% endblock %}